#about p { 
  margin-bottom: 40px;
}

.btn-outline-inverse {
  border-color: #fff;
  color: #fff; 
}

.btn-outline-inverse:visited, .btn-outline-inverse:hover, .btn-outline-inverse:focus {
  color: #fff;
  opacity: 0.8;
}

.jumbotron {
  color: #fff;
  margin-bottom: 0;
}

.jumbotron .container {
  position: relative;
}

.jumbotron .container .buttons {
  margin-bottom: 20px;
}

.jumbotron .container .buttons .btn {
  margin-right: 13px;
}

.jumbotron .container .buttons .btn  .icon-large {
  margin-left: 5px;
}

.jumbotron .container h1 {
  background: url(../geard/images/logo-inverse.svg) no-repeat;
  background-size: auto 100%;
  height: 60px;
  overflow: hidden;
  text-indent: -9999px;
}

.jumbotron .container h1 span {
  color: #EF2E32;
}

.jumbotron .container h2 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 15px;
}

section {
  background: #EFEFEF;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

section:nth-child(2n + 1) {
  background-color: #E6E6E6;
}

section h2 {
  color: #EF2E32;
}

section h3 {
  font-size: 21px;
  text-transform: uppercase;
}