/* Fonts */
@font-face {
  font-family: 'Overpass Bold';
  src: url('../font/overpass-bold-wf.eot');
  src: url('../font/overpass-bold-wf.eot?#iefix') format('eot'),
   url('../font/overpass-bold-wf.woff') format('woff'),
   url('../font/overpass-bold-wf.ttf') format('truetype'),
   url('../font/overpass-bold-wf.svg#webfontzRhIMntw') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../font/overpass-wf.eot');
  src: url('../font/overpass-wf.eot?#iefix') format('eot'),
   url('../font/overpass-wf.woff') format('woff'),
   url('../font/overpass-wf.ttf') format('truetype'),
   url('../font/overpass-wf.svg#webfontiqWxLEM5') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* OverpassNormal will be taller than surrounding text when 
 * bolded, so use Overpass when mixing bolded and normal text 
 **/
@font-face {
  font-family: 'OverpassNormal';
  src: url('../font/overpass-wf.eot');
  src: url('../font/overpass-wf.eot?#iefix') format('eot'),
   url('../font/overpass-wf.woff') format('woff'),
   url('../font/overpass-wf.ttf') format('truetype'),
   url('../font/overpass-wf.svg#webfontiqWxLEM5') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Page level styles */
body {
background-color: #333;
font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
color: white;
margin: 0;
}
h1{
  font-family: "Overpass Bold", sans-serif;
  color: #ef2e32;
  font-size: 30px;
}
h2 {
  font-family: "Overpass Bold", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
}
h3, h4, h4 {
  font-family: Overpass, sans-serif;
  font-weight: normal;
}
p, ul, ol {
  font-size: 20px;
  line-height: 30px;
}
a {
  color: #069;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section {
  margin: 0 auto;
  padding: 1% 10%;
  background: #e6e6e6;
  color: black;
}


/* Header styles */
body > header {
  margin: 80px 10% 40px;
}
body > header hgroup {
  margin: 0 auto;
}
body > header h1 {
  font-family: Overpass;
  font-weight: normal
  margin: 0;
  font-size: 25px;
  color: white;
}
body > header h1 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}
body > header h1 a:hover { text-decoration: none; }
body > header h1 a img {
  float: left;
  margin: -10px 30px 0 0;
}
body > header h1 a b {
  font-family: "Overpass Bold";
}
body > header h1 span.origin {
  display: block;
  width: 100%;
  line-height: 100%;
  margin-left: -1%;
}
body > header h2 {
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
}
body > header h2 span.redhat {
  white-space: nowrap;
}
nav {
  margin-top: 33px;
  clear: both;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 0 1%;
  text-align: center;
  width: 30%;
  min-width: 160px;
}
nav ul li a {
  color: white;
  display: block;
  font-family: Overpass;
  padding: 12px 0;
  text-decoration: none;
  background: black;
}
nav ul li a:hover {
  background: #222;
  text-decoration: none;
}
nav ul li a .icon-large {
  margin-left: 10px;
}

/* Section-specific styles */
section:first-of-type {
  padding-top: 3%;
}
section:nth-of-type(2n+1) {
  background: #efefef;
}
section.try img {
  float: right;
}
/* Responsive styles */
@media (max-width: 670px) {
  body > header h2 {
    font-size: 24px;
  }
  nav ul li {
    width: 100%;
    margin-top: 1%;
  }
}
@media (max-width: 480px) {
  body > header {
    margin-top: 45px;
    margin-bottom: 30px;
  }
  body > header h2 {
    font-size: 20px;
  }
  p, ul, ol {
    font-size: 18px;
  }
  h1 {
    font-size: 27px;
  }
}
/* @media (max-width: 1024px) { */
/*   body > header hgroup { */
/*     width: 650px; */
/*   } */
/*   nav ul { */
/*     padding: 0; */
/*   } */
/* } */

/* @media (max-width: 768px) { */
/*   body > header hgroup { */
/*     width: auto; */
/*   } */
/*   body > header hgroup h1 a { */
/*     font-size: 200%; */
/*     font-weight: normal; */
/*   } */
/*   body > header hgroup h1 a b { */
/*     font-weight: bold; */
/*   } */
/*   body > header hgroup h1 { */
/*     font-size: 18px; */
/*   } */
/*   body > header hgroup h1 a img { */
/*     width: 30%; */
/*     float: none; */
/*     margin: 0; */
/*   } */
/*   body > header hgroup h2 { */
/*     font-size: 21px; */
/*     line-height: 24px; */
/*   } */
/*   nav ul { */
/*     font-size: 18px; */
/*   } */
/* } */

/* @media (max-width: 400px) { */
/*   nav ul li { */
/*     width: 100%; */
/*     margin: 10px 1% 0; */
/*   } */
/*   body > header { */
/*     margin: 40px auto 20px; */
/*   } */
/*   section { */
/*     width: auto; */
/*   } */
/* } */
