/** Overrides to theme
	*******************************************************/
a {
	color: #069;
}

a:hover, a:visited {
	color: #069;
	text-decoration: underline;
}

h2, h3 {
	font-weight: 300;
}

.image_03_parallax{
	background-image: url("../img/parallax/twirl-full.jpg");
}

.opacy_bg_02{
  background:rgba(0, 61, 110, 0.34);
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacy_bg_01 {
  background-color: #E0E2E4;
}

.bg_parallax {
	background-size: initial;
}

.nav_logo {
	background: rgba(17, 17, 17, 0.1);
}

.index_static h1 {
	padding-top: 20px
}

.index_static p {
	text-align: left;
	margin: 0;
}

.nav_logo {
	position: absolute;
	bottom: 0;
}

.delay {
	animation-delay:.5s;
	-webkit-animation-delay:.5s; /* Safari and Chrome */}

.caption-head {
	height: 180px;
	width: 180px;
	margin: 20px auto 20px auto;
}

h2.caption-title {
	padding-top: 0;
}

.vertical_line , .vertical_line .circle_top, .vertical_line .circle_bottom {
	background-color: #E5E7E8;
}

.info_vertical {
	margin: 10px auto 15px;
}

.info_title i.right, .info_title i.left {
	color: #EAECED;
}

.info_title i.left {
	top: -5%;
}

.service-process {
	background-image: none;
	position: relative;
}

footer {
	background-color: #1b2a38;
}


@media (min-width: 992px) { /*@screen-md-min*/
	.opacy_bg_02 {
		padding: 130px 0 70px;
	}

	.bg_parallax {
		background-position-x: 10% !important;
	}

	.index_static p {
		width: 70%;
	}
	.service-process:before {
		background-image: url('../img/dev-process.svg');
		background-position: inherit;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		position: absolute;
		top: 0;
		left: 0px;
		display: block;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: .1;
	}

}


/** New Styles
	*******************************************************/

.technology .technology-section {
	padding: 10px 0 50px;
}

.technology ul {
	list-style: none;
	padding-left: 0;
}


.logo_tech {
	width: 300px;
}

/************** Nicks Temp CSS *****************/

.cbtn {
    background-color: #3D3D3C;
    box-shadow: 0 1px 0 rgba(25,25,25,.95);
    color: #E5B763;
    font-weight: 200;
    font-size: 13px;
    padding: 7px 34px;
    text-shadow: none;
}
