/** Overrides to theme
	*******************************************************/
/* line 3, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
body {
  color: #333333; }

/* line 7, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
a {
  color: #069; }
/* line 9, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
a:hover {
  color: #069;
  text-decoration: underline; }

/* line 15, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
h2, h3 {
  font-weight: 300; }

/* line 19, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
a.strong {
  font-weight: 500; }

/* line 23, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.sf-menu {
  padding-top: 0;
  padding-left: 0;
  float: left; }
/* line 27, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.sf-menu > li {
  margin: 0 50px 0 0; }
/* line 29, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.sf-menu > li > a {
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

/* line 37, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.image_03_parallax {
  background-image: url("../img/parallax/twirl-full.jpg");
  background-repeat: repeat-x; }

/* ------------------------------------------------------------ 
Image: "Spin" https://www.flickr.com/photos/eflon/3655695161/
Author: eflon https://www.flickr.com/photos/eflon/
License: https://creativecommons.org/licenses/by/2.0/
---------------------------------------------------------------*/
.attribution {
  text-align: center;
  position: relative;
  bottom: -20px;
  margin-right: 30px;
}
.attribution .btn {
  color: #808080;
  color: rgba(175,175,175, .65);
  font-size: 11px;
}
.attribution .btn:hover {
  text-decoration: none;
  color: #aaa;
}
.popover-content {
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
}
/* line 47, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.opacy_bg_02 {
  background: rgba(0, 61, 110, 0.34);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 54, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.opacy_bg_03 {
  background-color: #EBF0F4;
  background-color: rgba(0, 61, 110, 0.07);
  border-top: 4px solid rgba(0, 61, 110, 0.1); }

/* line 60, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.opacy_bg_01 {
  background-color: #E0E2E4;
  z-index: 0; }

/* line 65, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.bg_parallax {
  background-size: initial;
  z-index: 2; }

/* line 71, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.index_static h1 {
  padding-top: 10px; }
/* line 74, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.index_static p {
  text-align: left;
  margin: 0;
  font-size: 27px; }

/* line 81, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.nav_logo {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 20, 37, 0.35);
  padding: 25px 0; }

/* line 88, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.delay {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  /* Safari and Chrome */ }

/* line 92, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.caption-head {
  height: 180px;
  width: 180px;
  margin: 20px auto 20px auto; }

/* line 98, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
h2.caption-title {
  padding-top: 0; }

/* line 102, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.vertical_line, .vertical_line .circle_top, .vertical_line .circle_bottom {
  background-color: #E5E7E8; }

/* line 106, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.info_vertical {
  margin: 10px auto 15px; }

/* line 110, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.info_title i.right, .info_title i.left {
  color: #EAECED; }

/* line 114, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.info_title i.right {
  top: 20px; }

/* line 118, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.info_title i.left {
  top: 5%; }

/* line 122, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.contributions .fadeInRight {
  text-align: center; }

/* line 126, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
table.table.contributions {
  margin-top: 25px; }
/* line 128, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
table.table.contributions th {
  font-weight: normal;
  text-align: center;
  border-top: 0; }
/* line 133, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
table.table.contributions td {
  text-align: center;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.65); }

/* line 140, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.fadeInRight i.fa.fa-github {
  font-size: 15em;
  opacity: 0.2; }

/* line 145, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.latest-news h3 {
  margin-bottom: 20px; }

/* line 148, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.service-02 {
  margin: 0 0 25px 0; }

/* line 152, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.service-process {
  background-image: none;
  position: relative; }

/* line 157, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
footer {
  background-color: #1b2a38;
  padding-bottom: 60px; }
/* line 159, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
footer h3 {
  border-bottom: 0; }

/* line 165, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li {
  display: inline;
  margin: 0 10px; }
/* line 168, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li:hover {
  margin-left: 10px; }
/* line 170, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li:hover span, footer ul li a:hover {
  background-color: transparent !important;
  color: transparent; }
/* line 174, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li.facebook:hover span i {
  color: #3B5998 !important; }
/* line 177, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li.twitter:hover span i {
  color: #3C8FC9 !important; }
/* line 180, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li.google:hover span i {
  color: #d73d32 !important; }
/* line 183, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social li.github:hover span i {
  color: #000 !important; }
/* line 187, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social span {
  background: transparent; }
/* line 189, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
ul.social span i {
  padding: 4px;
  color: #ddd !important;
  font-size: 28px; }

/** New Styles
	*******************************************************/
/* line 202, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.technology-section {
  padding: 10px 0 50px;
  text-align: center; }
/* line 205, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.technology-section .head-tech {
  text-align: center;
  margin-bottom: 20px; }
/* line 209, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.technology-section ul {
  list-style: none;
  padding-left: 0; }
/* line 213, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.technology-section .logo_tech {
  width: 250px; }

/* line 222, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.timeline-responsive {
  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

/* line 227, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.timeline-responsive {
  min-height: .01%;
  overflow-x: auto; }

/* line 232, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline {
  padding: 40px 0;
  list-style: none;
  color: #333;
  width: 100%; }
/* line 237, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline:before {
  background-color: #8E959C;
  bottom: 125px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  position: absolute; }
/* line 247, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline li {
  padding-top: 12px;
  position: relative;
  width: 20%;
  float: left; }
/* line 252, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline li label {
  max-width: 200px;
  opacity: 1;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: normal; }
/* line 262, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline li label span {
  display: block;
  padding-right: 5px; }
/* line 267, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
#timeline li.spotlight > label {
  font-size: 15px;
  color: #000; }

/* line 273, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.date {
  width: 100%;
  position: absolute;
  top: -100px;
  left: -17px;
  font-weight: 500;
  font-size: 14px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  display: block; }

/* line 284, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.circle {
  width: 12px;
  height: 12px;
  margin-left: -5px;
  background: #fff;
  border: 3px solid #54606A;
  border-radius: 50%;
  position: absolute;
  top: -11px; }
/* line 293, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
.circle.circle-big {
  top: -14px;
  width: 18px;
  height: 18px;
  border: 5px solid #DB212F; }

@media (min-width: 992px) {
  /* line 303, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .opacy_bg_02 {
    padding: 70px 0 130px; }

  /* line 307, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .bg_parallax {
    background-position-x: 10% !important; }

  /* line 311, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .service-process:before {
    background-image: url("../img/dev-process.svg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .1; }

  /* line 325, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  #timeline .date {
    top: -120px; }

  /* line 328, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  ul.social {
    float: right; } }
@media (max-width: 980px) {
  /* line 334, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .tinynav {
    top: -7px;
    border-radius: 5px; }

  /* line 338, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .nav_logo {
    background-color: transparent;
    top: 0; } }
@media (max-width: 991px) {
  /* line 346, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .index_static h1 {
    font-size: 34px;
    line-height: normal; }
  /* line 350, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .index_static p {
    font-size: 21px;
    line-height: normal; }

  /* line 357, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .timeline-responsive .opacy_bg_03 {
    min-width: 600px; }
  /* line 360, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .timeline-responsive .opacy_bg_03 #timeline .date {
    top: -90px; }

  /* line 367, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .social {
    padding-top: 30px; }
  /* line 369, /Users/Nick/Git/originsite/stylesheets/_custom.scss */
  .social li {
    margin: 0 15px; } }
